<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Protein Food List</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="CB" src="../../assets/images/Food/chicken breast.jpg" />
          </ion-thumbnail>
          <ion-label>Chicken Breast</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Eggs" src="../../assets/images/Food/Eggs.jpg" />
          </ion-thumbnail>
          <ion-label>Egg</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Salmon" src="../../assets/images/Food/salmon.jpg" />
          </ion-thumbnail>
          <ion-label>Salmon</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="BB" src="../../assets/images/Food/Bangus.jpg" />
          </ion-thumbnail>
          <ion-label>Boneless Bangus</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="oats" src="../../assets/images/Food/oats.jpg" />
          </ion-thumbnail>
          <ion-label>Oats</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="tofu" src="../../assets/images/Food/tofu.jpg" />
          </ion-thumbnail>
          <ion-label>Tofu</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="tofu" src="../../assets/images/Food/tuna.jpg" />
          </ion-thumbnail>
          <ion-label>Tuna Steak</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="sardines" src="../../assets/images/Food/sardines.jpg" />
          </ion-thumbnail>
          <ion-label>Sardines</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="tb" src="../../assets/images/Food/turkey breast.jpg" />
          </ion-thumbnail>
          <ion-label>Turkey Breast</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="mb" src="../../assets/images/Food/mb.jpg" />
          </ion-thumbnail>
          <ion-label>Mongo Beans</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
