<ion-content>
  <div class="container">
    <div class="login-section ion-padding">
      <div class="heading ion-padding">
        <div class="img">
          <img src="../../assets/images/lg1.png" alt="logo" class="lg1" />
        </div>
        <h2 class="login">Welcome</h2>
        <h2 class="login1">Workout Warrior</h2>
      </div>
      <div class="login-form ion-padding">
        <div class="form-input">
          <ion-icon name="mail-outline"></ion-icon>
          <p class="error">
            <!-- Checking if errorMessage is not an empty string -->
            <ng-container *ngIf="errorMessage != ''">
              <!-- Executing code when there is an error message -->
              {{ errorMessage }}
            </ng-container>
          </p>
          <ion-item>
            <ion-label position="floating" aria-required="true" size="medium"
              >Email or Phone Number
            </ion-label>
            <ion-input type="email" [(ngModel)]="email" required> </ion-input>
          </ion-item>
        </div>
        <div class="form-input">
          <ion-icon name="password-outline"></ion-icon>
          <ion-item>
            <ion-label position="floating" size="medium">Password</ion-label>
            <ion-input
              type="password"
              [(ngModel)]="password"
              required
            ></ion-input>
          </ion-item>
        </div>
        <!--<p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>-->
      </div>
      <div class="action-button ion-padding">
        <ion-button expand="block" color="warning" (click)="login()"
          >Login</ion-button
        ><br />
        <p class="paragraph">
          Don't have an Account? <a class="snp" routerLink="/signup">Sign Up</a>
        </p>
      </div>
    </div>
  </div>
</ion-content>
