ion-content,
ion-card,
ion-toolbar {
  --background: #000000;
}

ion-checkbox {
  --color: yellow;
}

ion-card-title {
  color: yellow;
  font-size: 15px;
}

ion-back-button {
  color: yellow;
}

ion-title {
  text-align: center;
  color: yellow;
}
