ion-content,
ion-Header,
ion-toolbar {
  --background: #000000;
  color:white;
}

ion-checkbox {
    font-size: 20px;
    color:yellow;
}
p{
    font-size: 18px;
    color : white;
    text-align: start;
}