<ion-content>
  <div class="container">
    <div class="heading ion-padding">
      <h2 class="h1">Energy & Persistence</h2>
      <h2 class="h2">Conquer All Things</h2>
      <p class="paragraph">Stay focused, keep pushing forward, and let your energy and persistence guide you to conquer any challenges that come your way.</p>
    </div>
      <div class="ion-margin-bottom button-yawa">
        <ion-button expand="block" color="warning" routerLink="/login">Get Started</ion-button>
    </div>
</div>
</ion-content>

